

@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');


.container {
  position: relative;
  background-color: black;
  margin-top: 0;
  width: 100%;
  height: 65px;

}

.nav-links{
  background-color: gray;
  margin: 0 0px;
  padding: 0;
  height: 65px;
  width: 100%;
  display: flex;
  color: aliceblue;
}

.nav-links  a:link, a:visited{
  vertical-align: middle;
  display: flex;
  font-family: 'Overlock', cursive;
  font-size: 20px;
  padding: 20.5px 15px;
  color: inherit;
  text-decoration: none

}

header .nav-links a:hover{
  background-color: wheat;
  color: black;
}

.aboutMe {

  color: black;
  font-family: 'Varela', cursive;
  font-size: min(2em, 1vw);
  height: 50%;
  width: 50%;
  position: relative;
  left: 20%;
  top: 10%;
  word-spacing: 5px;
  line-height: 40px;
  text-align: start;
  display: inline-block;

}
.homeContainer{
  position: absolute;
  height: 800px;
  width: 100%;
  background-color: white;

}

.photo{
  display: block;
  width: 15%;
  height: 30%;
  position: relative;
  top: 10%;
  left: 20%;
  padding: 10px;
  margin: 10px;
}

.photo {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 30vmin;
  height: 25vmin;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
          animation: bg-spin 3s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.box:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}